*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}

.container{
    width: 300px;
    height: 200px;
    background-color: #fff;
    margin: 100px auto;
}

.container .up{
    height: 50px;
    width: 100%;
}

.container .up ul{
    list-style-type: none;
    text-align: center;
}

.container .up ul li{
    float: left;
    width: 60px;
    height: 50px;
    line-height: 50px;
}

.container .up ul li a{
    text-decoration: none;
    font-size: 20px;
}

.select{
    border-bottom: 2px solid orange;
}

.container .down{
    height: 100px;
    width: 100%;
    position: relative;
    text-align: center;
}

.container .down div{
    position:absolute;
    line-height: 100px;
    height: 100%;
    width: 100%;
    display: none;
}

.container .down div.div-select{
    display: block;
}